<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="#">
    <title>LinkedOut</title>
</head>
<body>
<header>
    <h1>LinkedOut</h1>
</header>
<div class="container">
    <div class="content">
        <h1>Hello, welcome to LinkedOut!</h1>
        <p>Unlock Your Career Potential: Find Your Dream Job Today!</p>
    </div>
    <h3>Don't have account?</h3>
    <a href="register">Register</a>
    <h3>Already have account?</h3>
    <a href="login">Log in</a>
</div>
</body>
</html>