<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<h1>User Profile</h1>
<p>Email: {{.Email}}</p>
<p>Name: {{.Name}}</p>
<a href="jobs">List of jobs</a>
</body>
</html>
